<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Data-Structures-And-Algorithms/blob/main/03_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing Values in Tuples

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Updating Tuples

In [2]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3)

(12, 34.56, 'abc', 'xyz')

Delete Tuple Elements

In [7]:
tup = ('physics', 'chemistry', 1997, 2000);
print(tup)
del tup;
print("After deleting tup : ")

('physics', 'chemistry', 1997, 2000)
After deleting tup :

In [10]:
#Length
print(len((1, 2, 3)))

3

In [11]:
#Concatenation
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

In [12]:
#Repetition
print(('Hi!',) * 4)

('Hi!', 'Hi!', 'Hi!', 'Hi!')

In [13]:
#Membership
print(3 in (1, 2, 3))

True

In [17]:
#Membership
print(8 in (0, 1, 2, 3, 4, 5))

False

In [20]:
#Iteration
for x in (1, 2, 3): print(x)

1
2
3