<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Data-Structures-And-Algorithms/blob/main/05_2D_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing Values in a Two Dimensional Array

In [1]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

In [3]:
#Loop
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
for i in T:
    for c in i:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

In [5]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
for r in T:
  print(r,end = " ")

[11, 12, 5, 2] [15, 6, 10] [10, 8, 12, 5] [12, 15, 8, 6]

In [7]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
for r in T:
  print(r)

[11, 12, 5, 2]
[15, 6, 10]
[10, 8, 12, 5]
[12, 15, 8, 6]

Inserting Values in Two Dimensional Array

In [14]:
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T.insert (2, [0,5,11,13,6])

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
0 5 11 13 6
10 8 12 5
12 15 8 6

In [15]:
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T.insert (4, [0,5,11,13,6])

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6
0 5 11 13 6

Updating Values in Two Dimensional Array

In [16]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T[2] = [11,9]
T[0][3] = 7
for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 7
15 6 10
11 9
12 15 8 6

In [18]:
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

T[2] = [11,9]
T[0][3] = 7
T[1][2] = 5
for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 7
15 6 5
11 9
12 15 8 6

Deleting the Values in Two Dimensional Array

In [19]:
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

del T[3]

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6 10
10 8 12 5

In [20]:
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

del T[3]
del T[1][2]

for r in T:
    for c in r:
        print(c,end = " ")
    print()

11 12 5 2
15 6
10 8 12 5