<a href="https://colab.research.google.com/github/MdShahadatHossainbd/Data-Structures-And-Algorithms/blob/main/07_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating a set

In [1]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Tue', 'Wed', 'Sat', 'Fri', 'Thu', 'Mon', 'Sun'}
{'Jan', 'Mar', 'Feb'}
{17, 21, 22}

Accessing Values in a Set

In [2]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
	print(d)

Tue
Wed
Sat
Fri
Thu
Mon
Sun

Adding Items to a Set

In [3]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

{'Tue', 'Wed', 'Sat', 'Fri', 'Thu', 'Mon', 'Sun'}

Removing Item from a Set

In [4]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

{'Tue', 'Wed', 'Sat', 'Fri', 'Thu', 'Mon'}

Union of Sets

In [5]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Tue', 'Wed', 'Sat', 'Fri', 'Thu', 'Mon', 'Sun'}

Intersection of Sets

In [6]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

Difference of Sets

In [7]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Mon', 'Tue'}

Compare Sets

In [8]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True